<div class="container">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

    <h1><%= @blog.persisted? ? t('blogs.edit') : t('blogs.create') %></h1>

    <%= form_for(@blog, html: { role: 'form', class: 'form form-horizontal' } ) do |f| %>

      <%= form_errors(@blog) %>

      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :description %><br>
        <%= f.text_area :description, class: 'form-control redactor', style: 'width:100%;', rows: 20 %>
      </div>
      <div class="form-group">
        <%= f.label :uri %><br>
        <%= f.text_field :uri, class: 'form-control' %>
      </div>
      <hr/>
      <div class="form-group">
        <%= f.submit t('controls.save'), class: 'btn btn-success' %>
      </div>
    <% end %>

  </div>
</div>
