<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h1>Блоги</h1>

      <%= link_to t('blogs.create'), new_blog_path, class: 'btn btn-success pull-right' if can? :create, Blog %>

      <ul>
        <% @blogs.each do |blog| %>
          <li>
            <h3><%= link_to blog.name, blog_path(blog) %></h3>
            <small><%= blog.description %> // <%= blog.author.name %></small>
            <br/>
            <%= link_to 'Изменить', edit_blog_path(blog), class: 'btn btn-primary' if can? :edit, blog %>
            <%= link_to 'Удалить', blog, method: :delete, data: { confirm: 'Вы точно хотите удалить?' }, class: 'btn btn-danger' if can? :destroy, blog %>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>
