<p id="notice"><%= notice %></p>
<p class="alert">user role is <strong><%=  current_user.role.to_s %></strong> </p>
<h1>Список блогов</h1>

<table class="table">
  <thead>
    <tr>
      <th>Название</th>
      <th>Описание</th>
      <th>Адрес</th>
      <th>Автор</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.name %></td>
        <td><%= blog.description %></td>
        <td><%= blog.uri %></td>
        <td><%= blog.author.name %></td>
        <td><%= link_to 'Показать', blog %></td>
        <% if can? :edit, blog %>
          <td><%= link_to 'Изменить', edit_blog_path(blog) %></td>
        <% end %>
        <% if can? :destroy, blog %>
          <td><%= link_to 'Удалить', blog, method: :delete, data: { confirm: 'Вы точно хотите удалить?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый блог', new_blog_path %>
