<%= render 'users/header', user: @user %>

<div class="container">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">

    <h1>Редактировать профиль</h1>

    <%= form_for(@user, html: { role: 'form', class: 'form form-horizontal' } ) do |f| %>

      <%= form_errors(@user) %>

      <div class="form-group">
        <%= f.label :name, t('users.name') %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email, 'E-mail' %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
      <%= render 'socials', user: @user %>
      <div class="form-group">
        <%= f.label :password, t('users.new_password') %>
        <%= f.text_field :password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :sex, t('users.sex') %>
        <label><i class="fa fa-male"></i> <%= f.radio_button :sex, :male %> <%= t('users.man') %></label>
        <label><i class="fa fa-female"></i>  <%= f.radio_button :sex, :female %> <%= t('users.woman') %></label>
      </div>
      <div class="form-group">
        <%= f.label :description, t('users.description') %>
        <%= f.text_area :description, class: 'form-control redactor' %>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="fileUpload btn btn-primary form-group">
            <span><i class="glyphicon glyphicon-picture"></i> <%= t('users.upload_avatar') %></span>
            <%= f.file_field :image, class: 'upload' %>
          </div>
          <%= f.hidden_field :image_cache %>
        </div>
        <div class="col-lg-6">
          <div class="fileUpload btn btn-primary form-group pull-right">
            <span><i class="glyphicon glyphicon-picture"></i> <%= t('users.upload_wallpaper') %></span>
            <%= f.file_field :wallpaper, class: 'upload' %>
          </div>
          <%= f.hidden_field :wallpaper_cache %>
        </div>
      </div>

      <hr/>

      <div class="form-group">
        <%= f.submit t('controls.save'), class: 'btn btn-success' %>
      </div>
    <% end %>

  </div>
</div>
