<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <% if can? :create, Post %>
        <div class="row">
          <%= link_to t('posts.create'), new_post_path, class: 'btn btn-success pull-right' %>
        </div>
      <% end %>

      <% @posts.each do |post| %>
        <div class="post-preview">
          <a href="<%= post_path(post) %>">
            <h2 class="post-title">
              <%= post.name %>
            </h2>
            <h3 class="post-subtitle">
              <%= post.content_cut %>
            </h3>
          </a>
          <p class="post-meta"><%= t('posts.posted_by') %> <%= link_to post.author.name, user_path(post.author) %> <%= t('on') %> <%= l post.created_at, format: :short %></p>

          <%= link_to t('controls.edit'), edit_post_path(post), class: 'label label-primary' if can? :edit, post %>
          <%= link_to t('controls.destroy'), post, method: :delete, data: { confirm: t('are_u_sure') }, class: 'label label-danger' if can? :destroy, post %>

        </div>
        <hr>
      <% end %>

      <!-- Pager -->
      <%= paginate @posts %>
<!--
      <ul class="pager">
        <li class="next">
          <a href="#">Older Posts &rarr;</a>
        </li>
      </ul>
-->
    </div>
  </div>
</div>
