<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Content</th>      
      <th>Author</th>
      <th>Blog</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= image_tag(post.image_url) if post.image? %></td>
        <td><%= post.content %></td>        
        <td><%= post.author_id %></td>
        <td><%= post.blog_id %></td>
        <td><%= link_to 'Show', post %></td>
        <% if can? :edit, post %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <% end %>
        <% if can? :destroy, post %>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
