<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('<%= @post.image.blank? ? asset_path('simple/post-bg.jpg') : @post.image.url %>')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1><%= @post.name %></h1>
          <h2 class="subheading"><%= @post.content_cut %></h2>
          <span class="meta">Posted by <%= link_to @post.author.name, user_path(@post.author) %> on <%= l @post.created_at, format: :short %></span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <%= @post.content %>
      </div>
    </div>
  </div>
</article>