<p><%= t('devise.mailer.hello') %> <%= @resource.email %>!</p>

<p><%= t('devise.mailer.block_account') %></p>

<p><%= t('devise.mailer.click_on_the_link') %></p>

<p><%= link_to t('devise.mailer.unlock_my_account'), unlock_url(@resource, unlock_token: @token) %></p>
